<div class="quiz-area" ng-show="inProgress">
    <div >
        <h2 style="text-align: center;" id="question">{{question}}</h2>
        <form #createEmpForm="ngForm" novalidate>
            <ul id="optionss">
                <li id="listss" *ngFor="let option of options">

                    <div (click)="optionClick(option,b,c)" class="card" #c>
                        {{option}}
                    </div>

                </li>
            </ul>

            <button class="btn btn-primary"  disabled type="button" style="text-align: center; margin-left:20cm;" id="but" (click)="checkAnswer(b)" #b>Submit</button>
        </form>

    </div>